<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />
    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyApplication">
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.MyApplication">

        </activity>
        <activity
            android:theme="@style/Theme.MyApplication"
            android:exported="true"
            android:name=".viewmodel.ComposeCounterAct">

        </activity>
        <activity
            android:theme="@style/Theme.MyApplication"
            android:exported="true"
            android:name=".basic.TestActivity">

        </activity>
        <activity
            android:theme="@style/Theme.MyApplication"
            android:exported="true"
            android:name=".basic.AnnotatedStringExampleActivity">

        </activity>
        <activity
            android:theme="@style/Theme.MyApplication"
            android:exported="true"
            android:name=".basic.TestButtonActivity">

        </activity>
        <activity
            android:theme="@style/Theme.MyApplication"
            android:exported="true"
            android:name=".layout.TestLayoutActivity">

        </activity>
        <activity
            android:theme="@style/Theme.MyApplication"
            android:exported="true"
            android:name=".constraintlayout.ConstraintLayoutActivity">

        </activity>
        <activity
            android:theme="@style/Theme.MyApplication"
            android:exported="true"
            android:name=".list.ContactListActivity">

        </activity>
        <activity
            android:theme="@style/Theme.MyApplication"
            android:exported="true"
            android:name=".list.ContactListActivity2">

        </activity>
        <activity
            android:theme="@style/Theme.MyApplication"
            android:exported="true"
            android:name=".scaffold.ScaffoldActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:theme="@style/Theme.MyApplication"
            android:exported="true"
            android:name=".animation.MainActivity">

        </activity>
    </application>

</manifest>